/* ------------------- Country Select -------------------- */
.country-selected {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  letter-spacing: 1.44px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.44px;
  color: #fff;
  text-transform: uppercase;
}
.country-selected__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.country-selected__text {
  display: inline-block;
  position: relative;
}
.country-selected__text::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.country-selected__text:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.country-selected__text.active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.country-popap {
  width: 100%;
  max-width: 336px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
  color: #111;
  font-weight: 300;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  padding: 30px 40px;
  position: absolute;
  top: 36px;
  right: auto;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: -1000;
}
.country-popap.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  z-index: 10;
}
.country-popap .btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 47px;
  color: #ffffff;
  background: #111;
  font-family: "Avenir", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 0 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.country-popap .btn:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
.country-popap .btn-stroke {
  color: #111;
  background-color: #fff;
  border: 1px solid #111;
  position: relative;
  z-index: 1;
}
.country-popap .btn-stroke::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
@media (max-width: 1000px) {
  .country-popap .btn-stroke::before {
    display: none;
  }
}
.country-popap .btn-stroke:hover {
  color: #fff;
  opacity: 1;
}
.country-popap .btn-stroke:hover::before {
  height: 100%;
}
@media (max-width: 1000px) {
  .country-popap .btn-stroke:hover {
    color: #111;
  }
}

.country-detected .btn, .country-choose .btn {
  max-width: 100%;
}
.country-detected__text {
  text-align: center;
  margin-bottom: 20px;
}
.country-detected__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.country-detected__city {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #111111;
}
.country-detected__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.country-detected__btns .btn:not(:last-child) {
  margin-bottom: 10px;
}

.country-choose__close {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBpZD0iNGE0NDRkNzAiPgogICAgPHBhdGggZD0iTTAuOTUyMzgxIDMuMjExMTllLTA3TDIwIDE5LjA0NzZMMTkuMDQ3NiAyMEwwIDAuOTUyMzgxTDAuOTUyMzgxIDMuMjExMTllLTA3WiIgZmlsbD0iIzExMTExMSI+PC9wYXRoPgogICAgPHBhdGggZD0iTTIuNDA4MzllLTA3IDE5LjA0NzZMMTkuMDQ3NiAwTDIwIDAuOTUyMzgxTDAuOTUyMzgxIDIwTDIuNDA4MzllLTA3IDE5LjA0NzZaIiBmaWxsPSIjMTExMTExIj48L3BhdGg+CiAgPC9nPgo8L3N2Zz4=") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 15px;
  right: 15px;
}

.search-country {
  position: relative;
  margin-bottom: 20px;
}
.search-country__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  height: 40px;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 10px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #111;
  border-bottom: 1px solid #111;
  padding-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.search-country__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.search-country__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.search-country__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.search-country__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.search-country__input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.search-country__label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #111;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  opacity: 0.6;
}

.search-country__input:not(:-moz-placeholder-shown) + .search-country__label {
  top: 0;
  font-size: 12px;
  font-weight: 400;
  color: #111;
}

.search-country__input:not(:-ms-input-placeholder) + .search-country__label {
  top: 0;
  font-size: 12px;
  font-weight: 400;
  color: #111;
}

.search-country__input:focus + .search-country__label,
.search-country__input:not(:placeholder-shown) + .search-country__label {
  top: 0;
  font-size: 12px;
  font-weight: 400;
  color: #111;
}

.country-list {
  list-style: none;
  width: 100%;
  max-height: 300px;
  background-color: #fff;
  overflow-y: auto;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 20px;
}
.country-list::-webkit-scrollbar {
  width: 3px;
  background-color: #f4f4f4;
}
.country-list::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 0;
}
.country-list__item {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}
.country-list__item::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #111;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.country-list__item:hover::before {
  width: 100%;
}
.country-list__item a {
  cursor: pointer;
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none !important;
}

@media (max-width: 480px) {
  .country-detected, .country-choose {
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: inherit;
    top: inherit;
    padding: 20px;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
  }
  .country-detected__btns .btn {
    max-width: 100%;
  }
  .country-choose {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    margin: inherit;
    padding: 40px;
    padding-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .country-choose.is-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .country-choose__list {
    max-height: 400px;
  }
  .country-choose .btn {
    width: 100%;
    max-width: calc(100% - 80px);
    position: absolute;
    bottom: 20px;
    left: 40px;
    margin: 0 auto;
  }
  .country-choose__close {
    display: block;
  }
  .search-country__input {
    font-size: 16px;
  }
}