@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  background: #00091e
    url("https://mayagemstones.ru/img/gallery/058456257fdc03021b73eacd968d9024.jpg")
    no-repeat top;
  background-size: cover;
  background-attachment: fixed;
  font-family: Lato-Light, "Times New Roman";
  font-size: 16px;
  position: relative;
  line-height: normal;
  min-width: 320px;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

button {
  cursor: pointer;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

.header {
  z-index: 200;
  width: 100%;
  position: fixed;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  transition: all 0.2s;

  @media (max-width: 480px) {
    width: calc(100% - 60px);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header .white {
  padding: 55px 0;
}

.header:not(.white) {
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
}

.btn {
  width: 11.55vw;
  line-height: 3.22vw;
  font-size: 0.82vw;
  display: inline-block;
  background-color: #111111;
  text-align: center;
  color: #ffffff;
  font-family: Lato-Regular;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  border: 1px solid #111111;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #ffffff;
  color: #111111;
}
